/* 
    Document   : style
    Created on : Apr 6, 2009, 1:21:08 AM
    Author     : kevin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div.index {
    font-size:100%;
    font-family: arial;
}

div.index hr {
    margin-bottom: 40px;
}

div.directory {
    background-image: url(folder.jpg);
    background-repeat: no-repeat;
    font-weight: bold;
    font-size: 200%;
    height:50px;
    padding-left:60px;
    padding-top:10px;
}

div.movie {
    border: 1px solid #cccccc;
    clear: both;
    padding: 2px;
    margin: 2px;
    width:750px;
    margin-left:50px;
    margin-bottom:20px;
}

div.movie div.left{
    padding: 2px;
    float: left;
    margin-left:4px;
    width: 110px;
}
div.movie div.right{
    padding: 2px;
    float: left;
    width: 600px;
}
div.movie div.end{
    float: none;
    clear: both;
}

div.movie h1.title {
    margin-top: 0px;
    margin-bottom: 0px;
}
div.movie h2.tagline {
    margin-top: 0px;
    margin-bottom: 0px;
}
div.movie img.poster {
    border: 0px;
}
div.movie span.actor {
    background-color: #EFEFEF;
}
div.movie span.director {
    background-color: olive;
}
div.movie span.writer {
    background-color: teal;
}
div.movie p.file, div.movie p.cleanedName {
    margin-top:0px;
    font-size:80%;
    color:#AFAFAF;
}

div.movie div.left p{
    margin: 0px 0px 2px 0px;
    width:100px;
    text-align: center;
}
div.movie p.runtime {
    color:#AFAFAF;
}
div.movie p.rating {
    font-size: 110%;
    font-weight: bold;
    border: 1px solid #7F7F7F;
}


div.movie img.plotoutline {
}
