#main {
	margin: 10px;
}
#sidebar {
	width: 150px;
	float: right;
}
p {
	margin: 4px:
}
pre {
	border: 1px solid #222;
	color: #FAFAFA;
	margin: 4px;
	font-family: 'Inconsolata', monospace, courier new;
	font-size: 16px;
	max-width: 800px;
	background-color: #333;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	color: white;
	padding: 5px 10px;
}
header {margin-top: 20px;}
header h1, header p {font-family: 'Reenie Beanie', arial, serif; padding-left: 4px;}
header h1 {font-size: 48px; border-bottom: 1px solid #444; }
header p  {font-size: 38px;}
header a, header a:hover{text-decoration: none; color: #444;}

#main h2 {
  font-family: 'Reenie Beanie', arial, serif; padding-left: 4px;
  font-size: 22px;
  margin-top: 18px;
}

#main p {
  margin: 8px 0px 4px 8px;
}
