OrmiFy creates graphs of how your models are related.

<h2>
Example
</h2>

<pre>
cat app/models/*.php | curl -F orm[source]=@- http://ormify.com/orms.text
</pre>
Will return:
<pre>

Thanks!

Please point your browser to this url to see your result: 
http://ormify.com/orms/872adf6a-b153-11df-824c-5616b59c72b3

</pre>

<h2>Supported frameworks</h2>
<ul>
  <li>
    CakePHP
  </li>
  <li>
    Ruby on Rails
  </li>
</ul>
